*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 251, 0, 0.75);
}

.main {
    margin: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: minmax(120px, auto) repeat(5, 75px);
    border: 2px solid rgb(0, 0, 0, 0.40);
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(128, 128, 128);;
    grid-gap: 10px;
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.75);
}

.calculator button {
    cursor: pointer;
    font-size: 22px;
    border: 1px solid black;
    outline: none;
    background-color: rgb(255, 255, 255, .50);
    border-radius: 10px;
}

.calculator button:hover {
    background-color: rgb(255, 255, 255, .90);
}

.zero,
.ac {
    grid-column: span 2;
}

.calculator .del,
.calculator .ac {
    background-color: rgba(228, 54, 54, 0.25);
}

.calculator .del:hover,
.calculator .ac:hover {
    background-color: rgba(228, 54, 54, 0.9);
}

.calculator .divide {
    background-color: rgb(41, 41, 221, 0.25);
}

.calculator .divide:hover {
    background-color: rgb(41, 41, 221, 0.9);
}

.calculator .multiply {
    background-color: rgba(245, 147, 0, 0.25);
}

.calculator .multiply:hover {
    background-color: rgba(245, 147, 0, 00.9);
}

.calculator .add {
    background-color: rgba(2, 250, 2, 0.25);
}

.calculator .add:hover {
    background-color: rgba(2, 250, 2, 0.9);
}

.calculator .subtract {
    background-color: rgba(220, 6, 240, 0.25);
}

.calculator .subtract:hover {
    background-color: rgba(220, 6, 240, 0.9);
}

.calculator .equals {
    background-color: rgb(0, 247, 185, 0.25);
}

.calculator .equals:hover {
    background-color: rgb(0, 247, 185, 0.9);
}






.output {
    grid-column: 1 / -1;
    background-color: rgb(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 10px;
    height: 150px;
    padding: 10px 15px;
}

.output .previous-operand {
    min-height: 34px;
    font-size: 28px;
    color: rgb(255, 255, 255, 0.5);

}

.output .current-operand {
    min-height: 48px;
    font-size: 42px;
    color: rgb(255, 255, 255);
}

.footer {
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
} 

.footer p {
    margin-right: 10px;
}

